<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="malcolmmaima.dishi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity" />
        <activity android:name=".View.WelcomeActivity" />
        <activity android:name=".View.SplashActivity">
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.SetupProfile" />
        <activity android:name=".View.MyAccountRestaurant" />
        <activity android:name=".View.AddMenu" />
        <activity android:name=".View.SettingsActivity" />
        <activity android:name=".View.MyAccountCustomer" />
        <activity android:name=".View.MyAccountNduthi" />
        <activity android:name=".View.MyCart" />
        <activity android:name=".View.SelectNduthiGuy" />
        <activity android:name=".View.ViewRequestItems" />

        <service
            android:name=".Controller.TrackingService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".Controller.NotificationService" />

        <activity android:name=".View.OrderStatus" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".View.Map.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".View.Map.GeoFireActivity"
            android:label="@string/title_activity_geo_fire" />
        <activity android:name=".View.Adapters.RestaurantAdapter" />
        <activity android:name=".View.ViewRestaurant" />
        <activity android:name=".View.Fragments.RestaurantMenu" />
        <activity android:name=".View.Fragments.RestaurantReviews" />
        <activity android:name=".View.Fragments.RestaurantStats" />
        <activity android:name=".View.Adapters.RestaurantReviewAdapter" />
        <activity android:name=".View.ViewProfile" />
        <activity android:name=".View.ViewPhoto" />
        <activity android:name=".View.Adapters.StatusUpdateAdapter"></activity>
    </application>

</manifest>